<div class="content">
    <a ng-click="$state.go('base.cards.done.repeat')" class="cards__begin-btn">
        <i class="fa fa-play cards__begin-btn-playbtn"></i> Повторить
    </a>

    <ul class="cards__list">
        <li class="cards__list-item"
        ng-repeat="card in CardsCtrl.getLearned(CardsCtrl.cards) | limitTo: CardsCtrl.doneCardsLimitTo"
        infinite-scroll="CardsCtrl.showMoreLearnedCards()">

            <span class="cards__list-item-word">
                <a class="link" ui-sref="base.dictionary.word({ word: card.word })" ng-bind="card.word"></a>
                <span class="cards__list-item-shortdef" ng-if="card.word_short_def">– {{ card.word_short_def }}</span>
            </span>
            <span class="cards__list-item-when-learned" ng-bind="card.when_learned | date:'dd.MM.yyyy'"></span>
            <span class="cards__list-item-buttons">
                <span class="cards__list-item-button cards__list-item-button_type_in-new" ng-click="CardsCtrl.moveInNew(card)">В новые</span>
                <span class="cards__list-item-button cards__list-item-button_type_in-known" ng-click="CardsCtrl.moveInKnown(card)">В известные</span>
            </span>
        </li>
    </ul>
</div>
