<div class="content" ui-view>
    <a ng-click="$state.go('base.cards.new.learn')" class="cards__begin-btn">
        <i class="fa fa-play cards__begin-btn-playbtn"></i> Начать изучение
    </a>

    <ul class="cards__list">
        <li class="cards__list-item"
        ng-repeat="card in CardsCtrl.getToLearnNow(CardsCtrl.cards, CardsCtrl.profile)">

            <div class="cards__list-item-word">
                <a class="link" ui-sref="base.dictionary.word({ word: card.word })" ng-bind="card.word"></a>
                <span class="cards__list-item-shortdef" ng-if="card.word_short_def">– {{ card.word_short_def }}</span>
            </div>
            <div class="cards__list-item-buttons">
                <div class="cards__list-item-button cards__list-item-button_type_in-learned" ng-click="CardsCtrl.moveInLearned(card)">В изученные</div>
                <div class="cards__list-item-button cards__list-item-button_type_remove" ng-click="CardsCtrl.removeCard(card)">Удалить</div>
            </div>
        </li>

        <li class="cards__list-item-after" ng-if="(CardsCtrl.cards | filter: {status: 'new'}).length > CardsCtrl.profile.learn_by">Позже</li>

        <li class="cards__list-item"
        ng-repeat="card in CardsCtrl.getToLearnLater(CardsCtrl.cards, CardsCtrl.profile) | limitTo: CardsCtrl.newCardsLimitTo">

            <div class="cards__list-item-word">
                <a class="link" ui-sref="base.dictionary.word({ word: card.word })" ng-bind="card.word"></a>
                <span class="cards__list-item-shortdef" ng-if="card.word_short_def">– {{ card.word_short_def }}</span>
            </div>
            <div class="cards__list-item-buttons">
                <div class="cards__list-item-button cards__list-item-button_type_in-learned" ng-click="CardsCtrl.moveInLearned(card)">В изученные</div>
                <div class="cards__list-item-button cards__list-item-button_type_remove" ng-click="CardsCtrl.removeCard(card)">Удалить</div>
            </div>
        </li>

        <li class="cards__list-item cards__list-item-show-more" ng-if="CardsCtrl.getToLearnLater(CardsCtrl.cards, CardsCtrl.profile).length > CardsCtrl.newCardsLimitTo" ng-click="CardsCtrl.newCardsLimitTo = CardsCtrl.newCardsLimitTo + 50">Показать еще</li>
    </ul>
</div>