<ul class="topmenu">
    <li class="topmenu__item" ng-class="{ active: $state.includes('base.home') }">
        <div class="topmenu__item-link" ng-click="$state.go('base.home', {}, { reload: true })">
            <i class="fa fa-home topmenu__item-icon"></i> 
            <span class="topmenu__item-text">Моя страница</span>
        </div>
    </li>
    <li class="topmenu__item" ng-class="{ active: $state.includes('base.dictionary') }">
        <div class="topmenu__item-link" ng-click="$state.go('base.dictionary', {}, { reload: true })">
            <i class="fa fa-book topmenu__item-icon"></i> 
            <span class="topmenu__item-text">Словарь</span>
        </div>
    </li>
    <li class="topmenu__item" ng-class="{ active: $state.includes('base.cards') }">
        <div class="topmenu__item-link" ng-click="$state.go('base.cards', {}, { reload: true })">
            <i class="fa fa-star-o topmenu__item-icon"></i> 
            <span class="topmenu__item-text">Карточки</span>
        </div>
    </li>
</ul>
<div class="content" ui-view></div>
