<div class="cards__types-wrapper">
    <ul class="cards__types">
        <li class="cards__type" ng-class="{ active: $state.includes('base.cards.new') }" ng-click="$state.go('base.cards.new')"><i class="fa fa-fw cards__type-icon" ng-class="{ 'fa-square': $state.includes('base.cards.new'), 'fa-square-o': !$state.includes('base.cards.new') }"></i> Новые</li>
        <li class="cards__type" ng-class="{ active: $state.includes('base.cards.done') }" ng-click="$state.go('base.cards.done')"><i class="fa fa-fw cards__type-icon" ng-class="{ 'fa-check-square': $state.includes('base.cards.done'), 'fa-check-square-o': !$state.includes('base.cards.done') }"></i> Изученные</li>
    </ul>
</div>
<div ui-view>
</div>
