<div class="dictionary__word">
    <header class="dictionary__word-header">
        <h1 class="dictionary__headword" ng-bind="WordCtrl.rawWord"></h1>
        <i ng-click="WordCtrl.switchCard()" ng-if="WordCtrl.word.word" class="fa dictionary__word-star" ng-class="{ 'fa-star-o': !(WordCtrl.card), 'fa-star active': !!(WordCtrl.card) }"></i>
    </header>
    <transcription ng-if="WordCtrl.word.transcription" transcription="WordCtrl.word.transcription" audio-src="WordCtrl.word.audio_url"></transcription>
    <section class="dictionary__definitions" ng-if="WordCtrl.word.definition_set">
        <ul class="dictionary__definition-group-list">
            <li class="dictionary__definition-group-item" ng-repeat="(groupName, definitionsGroup) in WordCtrl.word.definitionsGroups">
                <h1 class="dictionary__definition-group-name"><i class="fa fa-angle-right dictionary__definition-group-name-icon"></i>{{ groupName }}</h1>
                <ol class="dictionary__definition-list">
                    <li class="dictionary__definition-item" ng-repeat="definition in definitionsGroup | orderBy:'weight'">
                        {{ definition.definition }}
                        <ul ng-if="(WordCtrl.examples | filter: {definition: definition.id}).length">
                            <li ng-repeat="example in WordCtrl.examples | filter: {definition: definition.id}">
                                <div class="dictionary__definition-example" 
                                    ng-click="!!(example.illustration_url) && (example.showIllustration = true)"  
                                    ng-hide="!!(example.showIllustration)"
                                    ng-class="{ 'with-illustration': example.illustration_url }" 
                                    ng-mouseover="exampleHover = true" 
                                    ng-mouseleave="exampleHover = false">

                                    <span ng-bind-html="example.text | markWord:WordCtrl.word.word"></span>
                                    <i ng-if="example.illustration_url" class="fa fa-picture-o dictionary__definition-example-illustration-icon" ng-class="{ 'hover': exampleHover }"></i>
                                    <span ng-if="example.russian_translation">— {{ example.russian_translation }}</span>
                                </div>
                                <div ng-if="example.illustration_url && example.showIllustration" ng-click="example.showIllustration = false" class="dictionary__definition-example-with-illustration">
                                    <img class="dictionary__definition-illustration" ng-src="{{ example.illustration_url }}">
                                    <div class="dictionary__definition-illustration-text" ng-bind-html="example.text | markWord:WordCtrl.word.word"></div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ol>

            </li>
        </ul>
    </section>
    <form style="display: none;">
        <div>
            <label for="example-definition">Определение:</label>
            <select if="example-definition" ng-model="definition" ng-options="def.definition group by def.part_of_speach for def in WordCtrl.word.definition_set"></select>
        </div>
        <div>
            <label for="example-text">Пример:</label>
            <textarea id="example-text"></textarea>
        </div>
        <div>
            <label for="example-russian-text">Перевод:</label>
            <textarea id="example-russian-text"></textarea>
        </div>
        <div>
            <label for="example-source">Источник:</label>
            <input id="example-source">
        </div>
        <input type="button" value="Отправить">
    </form>
</div>
