.dictionary {
    margin: 1.5rem 0;

    &__word {
        margin: 1rem 0;
    }

    &__headword {
        font-size: 2.6rem;
        display: inline-block;
        margin-right: 0.8rem;
    }

    &__word-star {
        display: inline-block;
        font-size: 1.5rem;
        color: rgba(0,0,255,0.35);
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: rgba(0,0,255,1);
        }

        &.active {
            color: orange;
        }
    }

    &__headword-transcription {
        font-size: 1.3rem;
        display: inline-block;
        color: #555;
        cursor: pointer;
    }

    &__headword-transcription-audio {
        font-size: 1rem;
        margin-left: 0.2rem;

        &.active {
            color: orange;
        }
    }

    &__search-form {
        position: relative;
    }

    &__search-input {
        display: block;
        box-sizing: border-box;
        height: 2.4rem;
        width: 100%;
        line-height: 2rem;
        padding: 0.2rem 0.5rem;
        margin: 0;
        outline: none;
        box-shadow: none;
        border: 1px solid #aaa;
        border-radius: 0;
    }

    &__search-dropdown {
        position: absolute;
        width: 100%;
        max-height: 20rem;
        overflow: scroll;
        box-sizing: border-box;
        top: 2.4rem;
        background-color: #fff;
        border: 1px solid #aaa;
        border-top: none;
        box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    }

    &__search-dropdown-item {

        &_state {
            
            &_notfound {
                padding: 0.3rem 0.5rem;
                color: #999;
                font-style: italic;
            }
        }
    }

    &__search-dropdown-item-link {
        display: block;
        padding: 0.3rem 0.5rem;
        color: #000;
        text-decoration: none;

        &:hover, &:focus {
            background-color: yellow;
        }
    }

    &__definition {
        margin: 0.8rem 0 1rem 0;

        &_type {

            &_mueller {

            }
        }
    }

    &__muellerdef-numbers1 {
        font-weight: bold;
        color: green;
    }

    &__muellerdef-numbers2 {
        font-weight: bold;
        //color: blue;
    }

    &__muellerdef-numbers3 {
        //color: orange;
        color: #888;
    }

    &__muellerdef-numbers4 {
        //color: orange;
        color: #555;
    }

    &__muellerdef-level2 {
        display: block;
        margin: 0.5rem 0 0.2rem;
    }

    &__muellerdef-level3 {
        display: block;
        margin: 0.2rem 0;
        margin-left: 0.5rem;
    }
}

