.dictionary {
    margin: 1.5rem 0;

    @media (max-width: 400px) {
        padding: 0 1rem;
    }

    &__word {
        margin: 1rem 0;
    }

    &__headword {
        font-size: 2.6rem;
        display: inline-block;
        margin-right: 0.8rem;
    }

    &__word-star {
        display: inline-block;
        font-size: 1.5rem;
        color: rgba(0,0,255,0.35);
        cursor: pointer;

        &:hover {
            color: rgba(0,0,255,1);
        }

        &.active {
            color: orange;
        }
    }

    &__headword-transcription {
        font-size: 1.3rem;
        display: inline-block;
        color: #555;

        &.with-audio {
            cursor: pointer;
        }
    }

    &__headword-transcription-audio {
        font-size: 1rem;
        margin-left: 0.5rem;

        &.hover {
            color: orange;
        }
    }


    &__definitions {
        margin: 1rem 0 5rem;
    }

    &__definition-list {
        counter-reset: item;
    }

    &__definition-group-item {
        margin-bottom: 1rem;
    }

    &__definition-group-name {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
    }
    
    &__definition-group-name-icon {
        margin-right: 0.5rem;
    }

    &__definition-item {
        margin-bottom: 0.7rem;
        counter-increment: item;

        &:before {
            content: counter(item) ".";
            display: inline-block;
            margin-right: 0.3rem;
            font-weight: bold;
        }
    }

    &__definition-example {
        font-style: italic;
        color: #888;
        margin-top: 0.1rem;

        &.with-illustration {
            cursor: pointer;
        }

        > span > .bold {
            color: #555;
            font-weight: bold;
            font-weight: normal;
        }
    }

    &__definition-example-illustration-icon {
        font-size: 0.9rem;
        margin-left: 0.3rem;
        color: #aaa;

        &.hover {
            color: green;
        }
    }

    &__definition-example-with-illustration {
        position: relative;
        margin: 0.3rem 0 2rem;
        cursor: pointer;
        overflow: hidden;
    }

    &__definition-illustration {
        max-width: 100%;
        display: block;
    }

    &__definition-illustration-text {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;
        background-color: rgba(0,0,0,0.5);
        color: rgba(255,255,255,0.8);
        text-align: center;
        font-style: italic;
        font-size: 1.1rem;

        > .bold {
            font-weight: bold;
            color: rgba(255,255,255,1);
        }
    }

    &__mueller-definition {
        margin: 1rem 0;
    }

    &__muellerdef-level2 {
        display: block;
        margin: 0.5rem 0 0.2rem;
    }

    &__muellerdef-level3 {
        display: block;
        margin: 0.2rem 0;
        margin-left: 0.5rem;
    }
    
    &__search-form {
        position: relative;
    }

    &__search-input {
        display: block;
        box-sizing: border-box;
        height: 2.4rem;
        width: 100%;
        line-height: 2rem;
        padding: 0.2rem 0.5rem;
        margin: 0;
        outline: none;
        box-shadow: none;
        border: 1px solid #aaa;
        border-radius: 0;
        -webkit-appearance: none;
    }

    &__search-dropdown {
        position: absolute;
        width: 100%;
        max-height: 20rem;
        overflow: scroll;
        box-sizing: border-box;
        top: 2.4rem;
        background-color: #fff;
        border: 1px solid #aaa;
        border-top: none;
        box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    }

    &__search-dropdown-item {

        &_state {
            
            &_notfound {
                padding: 0.3rem 0.5rem;
                color: #999;
                font-style: italic;
            }
        }
    }

    &__search-dropdown-item-link {
        display: block;
        padding: 0.3rem 0.5rem;
        color: #000;
        text-decoration: none;

        &:hover, &:focus {
            background-color: yellow;
        }
    }

    &__word-list {
        margin: 1rem 0;

        &-item {

            &-link {
                display: block;
                text-decoration: none;
                color: rgba(0,0,255,1);
                padding: 0.4rem 0.5rem;

                &:hover {
                    background-color: rgba(0,0,255,0.02);
                }
            }
        }
    }
}

