<div>
    <header class="learning__word">
        <h1 class="learning__headword" ng-bind="CardsLearningCtrl.current.card.word"></h1>
        <transcription ng-if="CardsLearningCtrl.current.word.transcription" transcription="CardsLearningCtrl.current.word.transcription" audio-src="CardsLearningCtrl.current.word.audio_url"></transcription>
    </header>
    <div class="learning__example" ng-bind="CardsLearningCtrl.current.examples.random.text"></div>

    <div class="learning__show learning__btn" ng-show="!(CardsLearningCtrl.current.showDefinitions)" ng-click="CardsLearningCtrl.current.showDefinitions = true">Показать определение</div>

    <ul class="learning__answer-list" ng-show="!!(CardsLearningCtrl.current.showDefinitions)">
        <li ng-click="CardsLearningCtrl.switchCard('forget')" class="learning__answer-list-item learning__answer-forget learning__btn">
            Забыл
        </li>
        <li ng-click="CardsLearningCtrl.switchCard('good')" class="learning__answer-list-item learning__answer-good learning__btn">
            Вспомнил
        </li>
    </ul>
</div>
