<div class="dictionary__word">
    <header class="dictionary__word-header">
    <h1 class="dictionary__headword">
        {{ WordCtrl.word.word }}
    </h1>
    <i class="fa fa-star-o dictionary__word-star"></i>
    </header>
    <div class="dictionary__headword-transcription" ng-mouseenter="transcriptionActive = true" ng-mouseleave="transcriptionActive = false" onclick="document.getElementById('transcription-audio').play()">
        [{{ WordCtrl.word.transcription }}]
        <span ng-if="WordCtrl.word.audio">
            <i class="fa fa-volume-up dictionary__headword-transcription-audio" ng-class="{ active: transcriptionActive }"></i>
            <audio id="transcription-audio" src="{{ WordCtrl.word.audio }}" preload="auto">
                <source src="{{ WordCtrl.word.audio }}" type="audio/mpeg"> 
            </audio>
        </span>
    </div>
    <div class="dictionary__definition dictionary__definition_type_mueller" ng-bind-html="WordCtrl.word.mueller_definition.trim() | mueller"></div>
</div>
