.cards {

    &__table {
        width: 100%;

        &-title {
            font-size: 1.3rem;
            margin: 1.5rem 0 0.9rem;
        }

        &-th {
            color: #777;
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;
            font-size: 0.8rem;
        }

        &-col {

            &-level {
                width: 5rem;
            }
        }

        &-td {
            padding: 0.5rem 0;
            border-bottom: 1px solid #eee;
        }

        &-level {
            text-align: center;
        }
    }

    &__begin-btn {
        position: relative;
        max-width: 420px;
        margin: 3rem auto;
        padding: 0;
        box-sizing: content-box;
        background: rgba(30,170,30,1);
        color: #fff;
        display: block;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        border: 1px solid rgba(60,180,60,1);
        box-shadow: 0px 5px 0px rgba(30,130,30,1);
        border-radius: 0.3rem;
        text-decoration: none;
        transition: all 0.1s;

//        &:active, &.active {
//            position: relative;
//            box-shadow: 0px 1px 0px rgba(30,130,30,1);
//            top: 4px;
//        }

        &-text {
            position: relative;
            display: block;
            padding: 0.6rem 2rem;
        }

        &-spinner {
            position: absolute;
            top: 50%;
            margin-top: -0.5rem;
            font-size: 1rem;
            right: 1.3rem;
        }
    }
}
