.definition {

    &__list {
        counter-reset: item;
    }

    &__group-item {
        margin-bottom: 1rem;
    }

    &__group-name {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
    }
    
    &__group-name-icon {
        margin-right: 0.5rem;
    }

    &__item {
        margin-bottom: 0.7rem;
        counter-increment: item;

        &:before {
            content: counter(item) ".";
            display: inline-block;
            margin-right: 0.3rem;
            font-weight: bold;
        }
    }

    &__example {
        font-style: italic;
        color: #888;
        margin-top: 0.1rem;

        &.with-illustration {
            cursor: pointer;
        }

        > span > .bold {
            color: #555;
            font-weight: bold;
            font-weight: normal;
        }
    }

    &__example-illustration-icon {
        font-size: 0.9rem;
        margin-left: 0.3rem;
        color: #aaa;

        &.hover {
            color: green;
        }
    }

    &__example-with-illustration {
        position: relative;
        margin: 0.3rem 0 2rem;
        cursor: pointer;
        overflow: hidden;
    }

    &__illustration {
        max-width: 100%;
        display: block;
    }

    &__illustration-text {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem 1rem;
        background-color: rgba(0,0,0,0.5);
        color: rgba(255,255,255,0.8);
        text-align: center;
        font-style: italic;
        font-size: 1.1rem;

        > .bold {
            font-weight: bold;
            color: rgba(255,255,255,1);
        }
    }
}