<!doctype html>
<html lang="ru" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>{% block pagetitle %}{% if page_title %}{{ page_title }}. {% endif %}{% endblock %}Engus. Изучение английского языка</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/global.min.css" %}"/>
    {% block extrastyles %}{% endblock %}
    {% block extrascripts %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="page">
    <header class="page__header">
        <div class="page__container page__header-container">
                <h1 class="page__header-title">
                    <a class="page__header-title-link" href="{% url "home" %}">Engus</a>
                </h1>
            <div class="page__header-login">
                <a href="{% url "registration_register" %}" class="page__btn page__btn_color_yellow">Регистрация</a>
                <a href="{% url "django.contrib.auth.views.login" %}" class="page__btn">Войти</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    {% if not debug %}
        {% comment %} Analytics {% endcomment %}
    {% endif %}
</body>
</html>
