<!doctype html>
<html lang="ru" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>{% block pagetitle %}{% if page_title %}{{ page_title }}. {% endif %}{% endblock %}Engus. Запоминание английских слов. Карточки с примерами употребления</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/global.min.css" %}"/>
    {% block extrastyles %}{% endblock %}
    {% block extrascripts %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="page">

    {% block splash %}
    <section class="page__splash {% block splashclass %}{% endblock %}">
        <header class="page__splash-container">
            <h1 class="page__title"><a class="page__title-link" href="{% url "home" %}">Engus</a></h1>
            {% block headercontent %}
            {% endblock %}
        </header>
        {% block splashcontent %}
        {% endblock %}
    </section>
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    <script>
        function splashMinHeight() {
            var splashes = document.getElementsByClassName('page__splash');
            for (var i = 0; i < splashes.length; ++i) {
                splashes[i].style.minHeight = window.innerHeight + 'px';
            }
        }
        splashMinHeight();
        window.onresize = splashMinHeight;
    </script>

    {% if not debug and not request.user.is_superuser %}
        {% comment %} Analytics {% endcomment %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23664607 = new Ya.Metrika({id:23664607,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            trackHash:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/23664607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    {% endif %}
</body>
</html>
