<!doctype html>
<html lang="ru" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>{% block pagetitle %}{% if page_title %}{{ page_title }}. {% endif %}{% endblock %}Engus. Запоминание английских слов. Карточки с примерами употребления</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/global.min.css" %}"/>
    {% block extrastyles %}{% endblock %}
    {% block extrascripts %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="page">


    <header class="topmenu">
        <div class="topmenu__title"><a class="topmenu__title-link" href="/">Engus</a></div>
        <ul class="topmenu__items">
            <li class="topmenu__item">
                <a href="{% url "app" %}#/dictionary/" class="topmenu__item-link">
                    <i class="fa fa-book topmenu__item-icon"></i>
                    <span class="topmenu__item-text">Словарь</span>
                </a>
            </li>
            <li class="topmenu__item">
                <a href="{% url "app" %}#/cards/new/" class="topmenu__item-link">
                    <i class="fa topmenu__item-icon fa-star-o"></i>
                    <span class="topmenu__item-text">Карточки</span>
                </a>
            </li>
            <li class="topmenu__item">
                <a href="{% url "app" %}#/profile/" class="topmenu__item-link">
                    <i class="fa fa-user topmenu__item-icon"></i>
                    <span class="topmenu__item-text">Профиль</span>
                </a>
            </li>
        </ul>
    </header>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    {% if not debug and not user.is_superuser %}
        {% comment %} Analytics {% endcomment %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23664607 = new Ya.Metrika({id:23664607,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            trackHash:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/23664607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    {% endif %}
</body>
</html>
