{% extends "base.html" %}

{% load staticfiles %}

{% block headercontent %}
    {% if user.is_authenticated %}
        <a class="homepage__regbutton" href="{% url "app" %}">Войти</a>
    {% else %}
        <a class="homepage__regbutton" href="{% url "django.contrib.auth.views.login" %}">Войти</a>
        <a class="homepage__regbutton" href="{% url "registration_register" %}">Регистрация</a>
    {% endif %}
{% endblock %}

{% block splashclass %}page__splash_type_flexbox{% endblock %}

{% block splashcontent %}
    <div class="page__splash-textblock">
        <div class="page__splash-container">
            <h1 class="homepage__title">
                <div class="homepage__title-container">
                    Все изучают английский в&nbsp;Ингус
                </div>
            </h1>
            <p class="homepage__clarification">
                Сервисом Ингус пользуются все, кто хочет научиться свободно читать английские тексты, понимать английску речь и&nbsp;начать разговаривать на&nbsp;английском. Изучение основано на&nbsp;повторении слов в&nbsp;контексте, за&nbsp;счет чего происходит быстрое запоминание слов и&nbsp;выражений, а&nbsp;так&nbsp;же погружение в&nbsp;мир языковых конструкций. Читайте интересную литературу, смотрите интересные фильмы, запоминайте слова в&nbsp;Ингус, и&nbsp;вы&nbsp;не&nbsp;заметите как свободно овладеете языком!
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="homepage__features">
        <div class="page__container">
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/repeat.jpg" %}">
                <h1 class="homepage__feature-title">Повторения</h1>
                <p class="homepage__feature-text">Повторения это естественный способ запомнить иностранные слова. В Engus при повторении вы сами определяете, насколько хорошо запомнили слово. Некоторые слова сложно поддаются изучению. Просто чаще повторяйте их и добейтесь своего! :)</p>
            </div><!--
            --><div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/context.jpg" %}">
                <h1 class="homepage__feature-title">Контекст</h1>
                <p class="homepage__feature-text">Намного проще запомнить слово в контексте фразы, предложения. В контексте вы можете прочувствовать смысл слова, у вас останется эмоциональный след. Engus специально для вас подобрал предложения с каждым словом, много предложений!</p>
            </div><!--
            --><div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/brain.jpg" %}">
                <h1 class="homepage__feature-title">Возможности</h1>
                <p class="homepage__feature-text">Используй возможности своего мозга на 100%. Как насчет визуальной памяти? Ведь лучше один раз увидеть, чем сто раз услышать. В Engus, для лучшего запоминания, к примерам употребления слов подобраны соответсвующие иллюстации.</p>
            </div><!--
            --><div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/dictionary.jpg" %}">
                <h1 class="homepage__feature-title">Словарь</h1>
                <p class="homepage__feature-text">Полное определение, транскрипция, произношение каждого слова. Определение на русском и английском языке. После того, как выучите необходимый минимум лексики, переключайтесь в английский режми, для более полного понимания смысла слов.</p>
            </div><!--
            --><div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/american-flag.jpg" %}">
                <h1 class="homepage__feature-title">Американский</h1>
                <p class="homepage__feature-text">Американский английский более распространен, чем его британский аналог. На американском производится огромное количество контента: фильмы, телешоу, компьютерные игры, книги. Кроме того, британцы вас поймут :)</p>
            </div><!--
            --><div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/mobile.jpg" %}">
                <h1 class="homepage__feature-title">Везде</h1>
                <p class="homepage__feature-text">Engus адаптирован для мобильных устройств. Повторяйте слова в пробках и поездках до работы. Смотрите перевод слова прямо с мобильного, когда читаете или смотрите фильм.</p>
            </div>
        </div>
    </section>
    <section class="homepage__howto">
        <div class="page__container">
            <h2 class="homepage__howto-title">
                Изучение английского вместе с&nbsp;Engus.<br> 
                <b>Быстро и&nbsp;интересно.</b>
            </h2>
            <ol class="homepage__howto-list">
                <li class="homepage__howto-list-item">
                    Начните читать интересную вам книгу, или смотреть интересный фильм с субтитрами.
                </li>
                <li class="homepage__howto-list-item">
                    Если вам встретилось незнакомое слово, посмотрите его перевод в словаре Ингус.
                    <img class="homepage__howto-screen" src="{% static "img/screen1.png" %}">
                </li>
                <li class="homepage__howto-list-item">
                    Можете добавить слово в карточки. Для этого нажмите на звезду рядом со словом. Она станет оранжевой.
                    <img class="homepage__howto-screen" src="{% static "img/screen2.png" %}">
                </li>
                <li class="homepage__howto-list-item">
                    В любое время начните повторять слова, которые вы добавили в карточки.
                    <img class="homepage__howto-screen" src="{% static "img/screen3.png" %}">
                </li>
                <li class="homepage__howto-list-item">
                    Просмотрите слово, прослушайте его перевод, прочитайте пример употребления. Попытайтесь вспомнить, что означает данное слово. После этого нажмите "Показать определение".
                    <img class="homepage__howto-screen" src="{% static "img/screen4.png" %}">
                </li>
                <li class="homepage__howto-list-item">
                    Просмотрите определение. Если вы правильно вспомнили значение слова, отлично! Нажмите "Вспомнил". Если же вспомнить не удалось, нажмите "Забыл". Это значит, что в следующий раз вы в первую очередь повторите это слово.
                    <img class="homepage__howto-screen" src="{% static "img/screen5.png" %}">
                </li>
                <li class="homepage__howto-list-item">
                    Повторяйте слова в любое удобное вам время. На мобильном телефоне, на планшете, на компьютере.
                </li>
                <li class="homepage__howto-list-item">
                    Таким образом вы будете запоминать до 3000 слов за месяц и вскоре начнете свободно читать и понимать английску речь. А при небольшой практике, даже разговаривать на английском! 
                </li>
            </ol>
            {% if user.is_authenticated %}
                <a class="homepage__registration-big-button" href="{% url "app" %}">Войти</a>
            {% else %}
                <a class="homepage__registration-big-button" href="{% url "registration_register" %}">Регистрация</a>
            {% endif %}
        </div>
    </section>
{% endblock %}
