{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <section class="homepage__splash">
        <div class="page__container">
            <h1 class="homepage__title">Сервис для изучения английских слов</h1>
            <p class="homepage__subtitle"><b class="homepage__subtitle_type_bold">Повторение слов в контексте.</b></p>
        </div>
    </section>
    {% comment %}
    <section>
        <div class="page__container" style="margin: 1rem auto;">
            Внимание! Сервис находится в стадии тестирования. Словарь наполняется, некоторые функции в настоящий момент не работают, или работают неправильно :) Возможны перерывы в работе сервиса.
        </div>
    </section>
    {% endcomment %}
    <section class="homepage__features">
        <div class="page__container">
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/repeat.jpg" %}">
                <h1 class="homepage__feature-title">Повторения</h1>
                <p class="homepage__feature-text">Повторения это естественный способ запомнить иностранные слова. В Engus при повторении вы сами определяете, насколько хорошо запомнили слово. Некоторые слова сложно поддаются изучению. Просто чаще повторяйте их и добейтесь своего! :)</p>
            </div>
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/context.jpg" %}">
                <h1 class="homepage__feature-title">Контекст</h1>
                <p class="homepage__feature-text">Намного проще запомнить слово в контексте фразы, предложения. В контексте вы можете прочувствовать смысл слова, у вас останется эмоциональный след. Engus специально для вас подобрал предложения с каждым словом, много предложений!</p>
            </div>
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/brain.jpg" %}">
                <h1 class="homepage__feature-title">Возможности</h1>
                <p class="homepage__feature-text">Используй возможности своего мозга на 100%. Как насчет визуальной памяти? Ведь лучше один раз увидеть, чем сто раз услышать. В Engus, для лучшего запоминания, к примерам употребления слов подобраны соответсвующие иллюстации.</p>
            </div>
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/dictionary.jpg" %}">
                <h1 class="homepage__feature-title">Словарь</h1>
                <p class="homepage__feature-text">Полное определение, транскрипция, произношение каждого слова. Определение на русском и английском языке. После того, как выучите необходимый минимум лексики, переключайтесь в английский режми, для более полного понимания смысла слов.</p>
            </div>
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/american-flag.jpg" %}">
                <h1 class="homepage__feature-title">Американский</h1>
                <p class="homepage__feature-text">Американский английский более распространен, чем его британский аналог. На американском производится огромное количество контента: фильмы, телешоу, компьютерные игры, книги. Кроме того, британцы вас поймут :)</p>
            </div>
            <div class="homepage__feature">
                <img class="homepage__feature-img" src="{% static "img/mobile.jpg" %}">
                <h1 class="homepage__feature-title">Везде</h1>
                <p class="homepage__feature-text">Engus адаптирован для мобильных устройств. Повторяйте слова в пробках и поездках до работы. Смотрите перевод слова прямо с мобильного, когда читаете или смотрите фильм.</p>
            </div>
        </div>
    </section>
{% endblock %}
