.app {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
    line-height: 1.4;
    margin: 0;
    padding: 0;

    @media (max-width: 400px) {
        padding: 0;
    }

    &__loading {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 5rem;

        &-icon {
            color: #326ea0;
            margin-left: 0.5rem;
        }
    }
}
