.cards {

    &__loading-icon {
        color: #326ea0;
        margin-left: 0.5rem;
    }

    &__table {
        width: 100%;

        &-title {
            font-size: 1.3rem;
            margin: 1.5rem 0 0.9rem;
        }

        &-th {
            color: #777 !important; 
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;
            font-size: 0.8rem !important;
        }

        &-col {

            &-level {
                width: 7rem;
            }

            &-when-learned {
                width: 7rem;
            }
        }

        &-td {
            padding: 0.5rem 0;
            border-bottom: 1px solid #eee;
        }

        &-row {

            &:hover {
                background-color: #fcfcfc;
                cursor: pointer;
            }

            &.selected, &:active {
                background-color: #fcfcf0;
            }
        }

        &-word {
        }

        &-after {
            padding-top: 1.3rem;
        }

        &-level {
            text-align: center;
        }

        &-status {
            text-align: center;
        }

        &-when-learned {
            text-align: center;
            color: #333;
            font-size: 0.9rem;
        }
    }

    &__menu-icon {
        margin-left: 1.5rem;
        color: blue;
        cursor: pointer;

        &_type {

            &_remove {
                color: red;
            }

            &_in-learned {
                color: blue;
            }

            &_start {
                color: rgba(30,170,30,1);
            }
        }

        &.inactive {
            color: #ccc;
        }
    }

    &__begin-btn {
        position: relative;
        max-width: 420px;
        margin: 3rem auto;
        padding: 0.6rem 0.4rem;
        box-sizing: content-box;
        background: rgba(30,170,30,1);
        color: #fff;
        display: block;
        font-size: 1.3rem;
        text-align: center;
        cursor: pointer;
        border: 1px solid rgba(60,180,60,1);
        box-shadow: 0px 5px 0px rgba(30,130,30,1);
        border-radius: 0.3rem;
        text-decoration: none;
        transition: all 0.1s;

//        &:active, &.active {
//            position: relative;
//            box-shadow: 0px 1px 0px rgba(30,130,30,1);
//            top: 4px;
//        }

        &-spinner {
            position: absolute;
            top: 50%;
            margin-top: -0.5rem;
            font-size: 1rem;
            right: 1.3rem;
        }

        &-playbtn {
            margin-right: 0.7rem;
        }
    }
}
