@import 'nib';

global-reset()

@import 'hacks.styl';

.html {
    font-size: 20px;
    font-family: "PT Sans", "Helvetica Neue",Helvetica,Arial,sans-serif

    @media (max-width: 1200px) {
        font-size: 19px;
    }

    @media (max-width: 400px) {
        font-size: 17px;
    }
}

.app {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    max-width: 650px;
    line-height: 1.4;
    margin: 0 auto;
    padding: 0 1.2rem;

    @media (max-width: 400px) {
        padding: 0;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

// blocks:
@import 'link.styl';
@import 'page.styl';
@import 'homepage.styl';
@import 'content.styl';
@import 'dictionary.styl';
@import 'definition.styl';
@import 'cards.styl';
@import 'topmenu.styl';
@import 'learning.styl';
