@import 'nib';

global-reset()

@import 'hacks';

.html {
    font-size: 20px;
    font-family: Helvetica ,sans-serif;
    font-weight: 100;

    @media (max-width: 1200px) {
        font-size: 19px;
    }

    @media (max-width: 1024px) {
        font-size: 18px;
    }

    @media (max-width: 600px) {
        font-size: 17px;
    }
}

container()
    display block
    max-width 1100px
    margin 0 auto
    padding 0 15px

column(x)
    display inline-block
    width (100% / 12) * x
    vertical-align top
    box-sizing border-box

// blocks:
@import 'blocks/*'
