$color(n)
    rgba(50,110,160,n)

.page {
    line-height: 1.4;
    
    &__container {
        max-width: 960px;
        margin: 0 auto;
        padding: 1rem;
    }

    &__splash {
        box-sizing: border-box;
        padding: 2rem 0;
        background: linear-gradient($color2(0.5), $color2(0.8));
        background: url(../img/engus_splash_1920_70.jpg) no-repeat center center;
        background-size: cover;
        text-align: left;

        @media (max-width: 1024px) {
            padding: 1.5rem 0;
        }

        @media (max-width: 600px) {
            background: url(../img/engus_splash_square_750_60.jpg) no-repeat center center;
            background-size: auto 100% ;
        }

        &-textblock {
            color: #fff;
            text-shadow: 0px 1px 4px rgba(0,0,0,0.9);
            background-color: rgba(0,0,0,0.8);
            text-align: left;
            padding: 1.5rem 0;
            margin-top: 7rem;

            @media(max-width: 1024px) {
                padding: 1rem 0 1.5rem;
            }
        }

        &-container {
            max-width: 1100px;
            margin-right: 8rem;
            margin-left: 5rem;

            @media(max-width: 1440px) {
                margin-left: 3rem;
                margin-right: 5rem;
            }

            @media(max-width: 1024px) {
                margin-left: 2rem;
                margin-right: 2rem;
            }

            @media(max-width: 600px) {
                margin: 0 1rem;
            }
        }

        &_type {

            &_flexbox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                align-items: stretch;
            }
        }
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1.3rem;
        padding-bottom: 0.2rem;
        font-family: 'Pacifico', cursive;

        &-link {
            color: rgba(255,255,255,0.85);
            color: #dadce0;
            text-decoration: none;
            transition: all linear 0.15s;
            text-shadow: 0 0 0.5rem rgba(0,0,30,0.7);

            &:hover {
                color: rgba(255,255,255,1);
                color: #fff;
                text-shadow: 0 0 0.6rem rgba(170,170,200,0.5);
            }
        }
    }


    &__header {
        background: linear-gradient($color(0.6), $color(1));
        border-bottom: 1px solid #fff;

        &-container {
            display: flex;
            align-items: center;

            @media (max-width: 600px) {
                flex-direction: column;
                align-items: stretch;
            }
        }

        &-login {
            flex-grow: 1;
            text-align: right;

            @media (max-width: 600px) {
                text-align: left;
            }
        }
    }

    &__btn {
        font-size: 0.9rem;
        color: rgba(21,23,55,1);
        border: 1px solid rgba(40,40,100,1);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        outline: none;
        box-shadow: inset 0px 1px 1px 1px #fff;
        background: linear-gradient(#ffffff, #c1c1c1);
        cursor: pointer;
        text-shadow: 0px 1px 1px #fff;
        margin-right: 0.2rem;
        font-weight: bold;
        text-decoration: none;

        &_color {

            &_yellow {
                background: linear-gradient(#ffe883, #ffb505);
            }
        }
    }

    &__form {
        max-width: 400px;
        padding: 1rem 2rem 0.3rem;
        margin: 2rem auto;
        color: #fff;
        background-color: rgba(0,0,0,0.8);

        @media (max-width: 450px) {
            padding: 1rem 1rem 0.3rem;
        }

        &-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 0.3rem 0 1rem;

            &.centered {
                text-align: center;
            }
        }

        a {
            color: #fff !important;

            &:hover {
                border-bottom: 1px solid #fff;
            }
        }

        .errorlist {
            border-left: 3px solid red;
            padding-left: 0.7rem;
            font-size: 0.85rem;
        }

        label {
            font-size: 0.8rem;
            margin-bottom: 0.35rem;
            display: block;
        }

        input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            border: none;
            padding: 0.5rem 0.5rem;
            color: #000;
            background-color: #fff;
            border-radius: 0;
        }

        input[type="submit"] {
            margin: 1.7rem 0;
            padding: 0.5rem 0;
            font-size: 1.1rem;
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            outline: none;
            background: rgba(255,255,255,0);
            cursor: pointer;
            text-decoration: none;
            transition: background 0.3s;

            &:hover {
                background: rgba(255,255,255,0.15);
            }
        }
    }
}
