.settings {

    &__title {
        font-size: 1.5rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        padding: 0.2rem 0;
    }

    &__login-as {
        margin: 1rem 0;
    }

    &__username {
        font-weight: bold;
        margin-right: 1rem;
    }

    &__language-mode {
        margin: 1.5rem 0;
    }

    &__learn-by {

        &-input {
            text-align: center;
            width: 2rem;
            border: 1px solid #ccc;
            border-radius: 0;
        }

        &-info {
            font-size: 0.85rem;
            color: #999;
        }
    }
}
