.settings {

    &__title {
        font-size: 1.5rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        padding: 0.2rem 0;
    }

    &__login-as {
        margin: 1rem 0;
    }

    &__username {
        font-weight: bold;
        margin-right: 1rem;
    }

    &__language-mode {
        margin: 1.5rem 0;
    }

    &__paid-till-date {
        margin-right: 1rem;
    }

    &__pay {
        margin: 1.5rem 0;

        &-title {
            padding: 0.2rem 0;
            margin: 1rem 0;
            font-size: 1.2rem;
            border-bottom: 1px solid #ddd;
        }

        &-input {
            width: 2rem;
            text-align: center;
            margin: 0 0.5rem;
        }

        &-method-title {
            font-size: 1.1rem;
            margin: 0.7rem 0 0.3rem;
        }
    }
}
