$color(n)
    rgba(50,110,160,n)

.topmenu {
    font-family: Helvetica, sans-serif;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: relative;

    &__title {
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
        padding-bottom: 0.2rem;
        font-family: 'Pacifico', cursive;
        position: absolute;
        left: 1.5rem;
        top: 0.5rem;
        color: $color(1);
        z-index: 1;
    }

    &__items {
        max-width: 650px;
        margin: 0 auto;
        display: flex;
        background-color: #fff;
        position: relative;
        z-index: 2;
    }

    &__item {
        flex-grow: 1;
        flex-basis: 1%;
        text-align: center;
        color: #aaa;
        font-size: 1.1rem;

        &:hover {
            color: $color(1);
        }

        &.active {
            color: $color(1);
        }
    }

    &__item-text {
        display: block;
        font-size: 0.8rem;
    }

    &__item-link {
        display: block;
        padding: 0.5rem 0;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    &__item-icon {
        margin-right: 0.2rem;
        display: block;
        margin: 0.2rem 0 0.35rem;
        font-size: 1.3rem;
    }
}
